@import url(/netflex/reset.css);

.header{
    width: 100%;
    height: 70px;
    background-color: black;
}
img{
    width: 120px;
    margin-top: 20px;
}
.header h1{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.box1{
    text-align: center;
}
.input{
    width: 50%;
    padding: 10px;
}
.mainBox{
    margin-left: 30%;
    margin-right: 30%;
}
.subBox{
    padding-top: 20px;
    float: right;
}
.subBox button{
    height: 30px;
    border-radius: 5px;   
    color: white;
}
.netflex{
    border: 1px solid gray;
    background-color: black;
    cursor: pointer;
}
.login{
    border: none;
    background-color: red;
    width: 80px;
    cursor: pointer;
}
.netflex:hover{
    border: 1px solid white;
}
.login:hover{
    background-color: rgb(107, 29, 29);
}
.mid{
    width: 100%;
    height: 550px;
    background-color: #fafafa;
}
.midBox{
    margin-left: 30%;
    margin-right: 30%;
}
.midBox h1{
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
}
.midBox h3{
    font-weight: 700;
    font-size: 20px;
}
.aac{
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 95%;
    border: 1px solid #d5d4d1;
    border-radius: 5px;
}
.midBox2{
    margin-top: 30px;
}
.tLink{
    font-size: 20px;
    font-weight: 700;
}
.midBox2 div{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(201, 200, 200);
}
.aLk{
    text-decoration: none;
    color: #333;
}
.aLk:hover{
    text-decoration-line: underline;
}
#arr{
    color: red;
    float: right;
}
#arr:hover{
    transition: .2s ease-in-out;
    margin-right: -5px;
    cursor: pointer;  
}
#aa{
    font-size: 15px;
}
.bottom{
    padding-top: 30px;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    clear: both;
    background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%),#000;
}

.bottomBox{
    margin-left: 30%;
    margin-right: 30%;
}
.bottomBox h3{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.bottomBtn{
    margin-left: 40px;
    width: 150px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.bottomBtn:hover{
    background-color: rgb(202, 208, 212);
}
.lag{
    padding-top: 50px;
    padding-bottom: 50px;
}
.lagSelect{
    border: 1px solid #333;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 80px;
    background-color: black;
    color: #B3B3B3;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 700;
}
.lagSelect:hover{
    background-color: rgb(175, 168, 168);
    color: #dedede;
}
.bottomText a{
    text-decoration: none;
    color: #ada8a8 ;
    font-size: 15px;
}
.bottomText:hover{
    text-decoration-line: underline;
    cursor: pointer;
}

.category .material-symbols-outlined{
    float: right;
    color: #e50914;
}
.category .material-symbols-outlined:hover{
    transition: .2s ease-in-out;
    margin-right: -5px;
    cursor: pointer;
}

