*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
    
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
     url(/netflex/image/첫main바탕.jpg);
     background-size: cover;
     background-position: center;
     padding: 10px 8%;
     position: relative;
     
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn img{
    width: 10px;
    margin-left: 10px;
    background-color: white;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1{
    font-size: 40px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/* 중간 밑 */

.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col{
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
}


.img-col-did{
    position: relative;
   
}

.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.img-col img{
    width: 100%;
}

.img-col-did-aa{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video{
    display: inline-block;
    vertical-align: baseline;
}



hr{
    height: 4px;
    background-color: gray;
    color: gray;
}

.ipon-a{
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0,0,0);
    display: flex;
    align-items: center;
    width: 60%;
    height: 25%;
    min-width: 15rem;
    border: 2px solid rgba(128,128,128,0.7);
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    border-radius: 0.75rem;
    z-index: 1;
}
.ipon-a-b{
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.ipon-a-a-b{
    height: 4.5rem;
    margin-left: 15px;
}

.ipon-a-a-b-b{
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 1rem;
    margin-left: 15px;
}

.ipon-a-a-b-c{
    font-weight: 400;
    color: #0071eb;
    font-size: 0.875rem;
    margin-left: 15px;
}

.ipon-a-b-c{
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}

.ipon-a-a-b-c-b{
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0,0,0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
}

/* 밑에 */

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 12px;
}

.faq h2{
    font-weight: 500px;
    font-size: 40px ;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500px;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}

.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;

}

.faq small{
    font-size: 13px;
}

/* 제일 밑 */
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    
}

.aa2a2{
    display: flex;
    align-items: center;
}


.copyright-txt{
    white-space : pre-line;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.bottom-aa{
    font-size: 1px;
    color: #777;
    margin-bottom: 10px;
}

/* media */
@media only screen and (max-width: 600px) {
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 10px;
    }
    nav .language-btn{
        padding: 4px 8px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;
    }
    .text-col, .img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
    .row:nth-child(2), .row:nth-child(4) {
        flex-direction: column-reverse;
    }
    .features .row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;
    }
    .accordion .content{
        font-size: 14px;
    }
    .accordion li label{
        padding: 10px;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
}
option{
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px
}
.head-box{
    height: 30px;
    width: 100px;
    border: 1px solid #333;
    background-color: black;
    color: #B3B3B3;
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
}